<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>*|MC:SUBJECT|*</title>
    </head>
{% inlinecss 'CommonEmailBundle:css:emails.css.twig' %}

<body>
    <center>

<table class="container">
    <tr>
        <td align="center" valign="top">

            <h1>Hello</h1>

        </td>
    </tr>
</table>

    </center>
</body>

{% endinlinecss %}
</html>