{% extends 'base.html.twig' %}

{% block body %}
<div class="col-lg-12">
	<div class="page-header">
	  <h1>Map test</h1>
	</div>
	<div class="row">
		<div class="col-lg-12">
		<div id="map" style="width: 700px; height: 500px;"></div>
		</div>
	</div>
</div>
{% endblock body %}

{% block javascripts %}
  <script>

  var tiles = L.tileLayer('/files/maps/test/{z}/{x}/{y}.jpg', {
    minZoom: 0,
    maxZoom: 5,
    tms: true
  });

  var map = L.map('map', {
    center: [0, 0],
    zoom:1,
    minZoom: 0,
    maxZoom: 5,
    //crs: L.CRS.Simple, //available in dev version
    layers:[tiles]
  });
  </script>
{% endblock javascripts %}